<div class="row collapse">
	<div class="small-3 large-2 columns">
		<span class="prefix">Placa</span>
	</div>
	<div class="small-9 large-10 columns">
		<input class="upper" required type="text" ng-model="vehicle.plate" pattern="[A-Za-z]{3}-[0-9]{4}">
	</div>
</div>

 <div class="row collapse">
	<div class="small-3 large-2 columns">
		<span class="prefix">Imagem</span>
	</div>
	<div class="small-9 large-10 columns">
		<input type="text" placeholder="Coloque aqui o link da sua imagem" ng-model="vehicle.image">
	</div>
</div>

<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Marca</span>
		</div>
		<div class="small-9 large-10 columns">
			<select ng-model="vehicle.brand" ng-options="brand.name as brand.name for brand in brands" required>
				<option value="">{{vehicle.brand}}</option>
			</select>
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Modelo</span>
		</div>
		<div class="small-9 large-10 columns">
			<input class="capitalized" required type="text" ng-model="vehicle.model">
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Cor</span>
		</div>
		<div class="small-9 large-10 columns">
			<input class="capitalized" required type="text" ng-model="vehicle.color">
		</div>
	</div>
	
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Combustivel</span>
		</div>
		<div class="small-9 large-10 columns">
			<select ng-model="vehicle.fuel">
				<option>Gasolina</option>
				<option>Álcool</option>
				<option>Flex</option>
			</select>
		</div>
	</div>
