	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Marca</span>
		</div>
		<div class="small-9 large-10 columns">
			<select ng-model="car.brand" ng-options="brand.name as brand.name for brand in brands">
				<option value="">{{car.brand}}</option>
			</select>
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Modelo</span>
		</div>
		<div class="small-9 large-10 columns">
			<input required type="text" ng-model="car.model">
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Cor</span>
		</div>
		<div class="small-9 large-10 columns">
			<input required type="text" ng-model="car.color">
		</div>
	</div>
	
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Combustivel</span>
		</div>
		<div class="small-9 large-10 columns">
			<input type="text" ng-model="car.fuel">
		</div>
	</div>
	
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">Placa</span>
		</div>
		<div class="small-9 large-10 columns">
			<input required type="text" ng-model="car.plate">
			
		</div>
	</div>
	
	 <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix">http://</span>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" ng-model="car.image">
    </div>
  </div>
