

<div ng-controller="PatientDetailCtrl">
	<form name="myForm">

     <p>First name: <input  name="FirstName" type="text" ng-model="patient.FirstName" required>
    <span class="error" ng-show="myForm.FirstName.$error.required">
      Required!</span></p>

     <p>Last name: <input name="LastName" type="text" ng-model="patient.LastName" required>
     	<span class="error" ng-show="myForm.LastName.$error.required">
      Required!</span></p>

     <p>Patient Phone Number:  <input type="text" ng-model="patient.PhoneNo" ></p>


     <p>Last Visit: 	<input name="LastVisit" type="text" ng-model="patient.lastVisitDate" required>
     <span class="error" ng-show="myForm.LastVisit.$error.required">
      Required!</span></p>

     <p> Status 
		<input type="radio" name="active" value="Active">  Active
		<input type="radio" name="active" value="InActive">  InActive
	</p>

     <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(patient)" value="Save" />

</form >
 </div><br>
 <a href="#/patients/">Go back</a>

